body {background-color: snow}
h1 {color: black}

header {
    background-color: #4464AD;
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    padding: 1em;
    height: 3.5em;
    width: 100%;
}

.header-item {
    display: inline-block;
    margin: 0.5em 1.5em;
    height: 2em;
    min-width: 8em;
    text-align: center;
    background-color: #DAB785;
    padding-top: 0.5em;
    padding-bottom: -0.5em;
}

.header-item a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    vertical-align: bottom;
}

.header-item:hover {
    background-color: #CAFE48;
}

